/* Fonts */

@font-face {
  font-family: Rosario;
  font-style: italic;
  font-weight: 400;
  src: local(Rosario Italic), local(Rosario-Italic), url(fonts/rosario-italic.otf);
}
@font-face {
  font-family: Rosario;
  font-style: normal;
  font-weight: 400;
  src: local(Rosario), local(Rosario-Regular), url(fonts/rosario-regular.otf);
}
@font-face {
  font-family: Rosario;
  font-style: normal;
  font-weight: 700;
  src: local(Rosario Bold), local(Rosario-Bold), url(fonts/rosario-bold.otf);
}
@font-face {
  font-family: Mononoki;
  font-style: normal;
  font-weight: 400;
  src: local(Mononoki), local(Mononoki-Regular), url(fonts/mononoki-regular.ttf);
}



/* Main Structure */

:root {
  --black: black;
  --blue: #14213d;
  --dark-gray: #6f7a89;
  --half-gray: #cacfd1;
  --green: #1ee494;
  --gray: #e2e4e8;
  --light-gray: #f6f6f6;
  --white: white;
}

html {
  background: var(--white);
  color: var(--dark-gray);
  display: flex;
  font: 16pt Rosario;
  justify-content: center;
}

body {
  line-height: 1.2;
}

aside {
  color: var(--green);
  font: 12pt Mononoki;
  height: 20px;
  left: 50%;
  line-height: 20px;
  position: absolute;
  transform: translate(-140pt);
  top: 15px;
  vertical-align: middle;
  word-break: break-all;
  z-index: -1;
}



/* Common Tags */

a {
  color: inherit;
  margin: 0 -0.1em;
  padding: 0 0.2em;
  text-decoration: inherit;
}



/* Titles */

h1 {
  background: url(img/logotype-white.gif) top center / contain no-repeat;
  color: transparent;
  font-size: 0;
  height: 3rem;
  margin: 3.5rem 2rem 0;
}

h2 {
  color: var(--black);
  font-size: 2.2em;
  font-style: italic;
  font-weight: normal;
  margin-top: -1em;
  padding-top: 1.5em;
}

h3 {
  color: var(--black);
  font-size: 1.5em;
  font-weight: normal;
}



/* Specific Classes */

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.buttons li {
  display: block;
  font-size: 0.8em;
  padding-right: 1em;
}

.buttons a {
  background: none;
  border: 1px solid;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0;
  padding: 1em;
}

.buttons a::before {
  background-clip: content-box;
  border: 1px solid;
  border-radius: 1em;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 0.6em;
  margin-right: 0.5em;
  padding: 2px;
  vertical-align: 0.09em;
  width: 0.6em;
}



/* Nav */

nav ul {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin: -0.25em;
  padding: 50px;
}

nav li {
  display: inline-block;
}

nav a {
  background-image: linear-gradient(90deg, var(--green) 50%, var(--blue) 50%);
  color: inherit;
  display: block;
  margin-right: 1em;
  text-decoration: inherit;
}

nav #sponsor {
  margin-left: auto;
  text-align: center;
}

nav #sponsor a {
  border: 1px solid;
  border-radius: 0.5em;
  margin: 0;
  padding: 1em;
}



/* Factory */

#factory {
  color: var(--white);
  position: relative;
  text-align: center;
}

#factory h2 {
  border: none;
  color: inherit;
  margin: 0;
  padding: 2em 0 0;
}

#factory #data-sample {
  font: 0.8em Mononoki;
}

#factory #data-sample input {
  appearance: none;
}

#factory #data-sample input::before {
  content: " ";
  display: inline-block;
  width: 1em;
}

#factory #data-sample label {
  display: block;
  height: 1.2em;
  overflow: hidden;
  padding: 1.2em;
  transition-duration: 0.3s;
  transition-property: padding-bottom, padding-top, height;
}

#factory dl {
  background: var(--half-gray);
  height: 0;
  margin: 4em 0 18em 0;
  overflow: hidden;
}

#factory dt {
  display: none;
}

#factory dd {
  margin: 0;
}



/* Figures */

#figures {
  margin-top: -6em;
}

#figures h2 {
  display: none;
}

#figures ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  line-height: 1.1;
  margin: 0;
  padding: 1em;
}

#figures li {
  border-right: 1px solid var(--green);
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em 1.2em 0;
  text-align: right;
  width: 7em;
}

#figures span {
  display: block;
  font-size: 3em;
  line-height: 1;
  font-variant-numeric: lining-nums;
}



/* Samples */

#samples article:first-of-type h3 {
  margin-top: 0;
}

#samples img {
  aspect-ratio: 1.5;
  float: left;
  margin-right: 1em;
  object-fit: cover;
  width: 30%;
}

#samples article {
  clear: left;
  overflow: auto;
}

#samples .buttons {
  justify-content: flex-start;
}



/* Support */

#support li {
  list-style: '— ';
}



/* Sponsors */

#sponsors .sponsors {
  align-items: center;
  color: transparent;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  justify-content: center;
  margin: 0;
  padding: 2em 0 1em;
}

#sponsors .sponsors li {
  display: inline-block;
  padding: 1rem;
}

#sponsors .gold img {
  max-height: 150px;
  max-width: 450px;
}

#sponsors .silver img {
  max-height: 100px;
  max-width: 300px;
}

#sponsors .bronze img {
  max-height: 50px;
  max-width: 150px;
}

#sponsors .user img {
  max-height: 40px;
  max-width: 120px;
}

#sponsors .user img:hover {
  filter: grayscale(10%);
}



/* About */

#about h2 {
  display: none;
}



/* Footer */

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: '';
  padding: 0.3em;
}

footer li li {
  list-style: '— ';
  margin-left: 2em;
}

footer a {
  background-image: linear-gradient(90deg, var(--half-gray) 50%, var(--gray) 50%);
}

footer #toc {
  columns: 2;
  margin: 3em 0 3em 40%;
}

footer #links {
  display: flex;
  justify-content: center;
}

footer #links a {
  margin: 0;
}

footer #links a::before {
  display: inline-block;
  height: 1.2em;
  margin-right: 0.25em;
  vertical-align: bottom;
  width: 1.2em;
}

footer #links #matrix::before {
  content: url(img/about/picto-matrix.svg);
}

footer #links #github::before {
  content: url(img/about/picto-github.svg);
}

footer #links #mail::before {
  content: url(img/about/picto-mail.svg);
}

footer #links #twitter::before {
  content: url(img/about/picto-twitter.svg);
}

footer #links #mastodon::before {
  content: url(img/about/picto-mastodon.svg);
}

footer #links #website::before {
  content: url(img/about/picto-website.svg);
}

footer #links #linkedin::before {
  content: url(img/about/picto-linkedin.svg);
}
