/* Fonts */

@font-face {
  font-family: Rosario;
  font-style: italic;
  font-weight: 400;
  src: local(Rosario Italic), local(Rosario-Italic), url(fonts/rosario-italic.otf);
}
@font-face {
  font-family: Rosario;
  font-style: normal;
  font-weight: 400;
  src: local(Rosario), local(Rosario-Regular), url(fonts/rosario-regular.otf);
}
@font-face {
  font-family: Rosario;
  font-style: normal;
  font-weight: 700;
  src: local(Rosario Bold), local(Rosario-Bold), url(fonts/rosario-bold.otf);
}
@font-face {
  font-family: Mononoki;
  font-style: normal;
  font-weight: 400;
  src: local(Mononoki), local(Mononoki-Regular), url(fonts/mononoki-regular.ttf);
}



/* Animations */

@keyframes appear {
  from { opacity: 0% }
  to { opacity: 100% }
}
@keyframes blinking {
  from { width: 0 }
  to { width: 23.25em }
}
@keyframes vertical-border {
  from { bottom: 100% }
  to { bottom: 0% }
}
@keyframes horizontal-border {
  from { width: 0% }
  to { width: 100% }
}
@keyframes slide-gradient {
  from { background-position: 100% 50% }
  to { background-position: 0% 50% }
}
@keyframes slide-background {
  from { bottom: 0 }
  to { bottom: 10em }
}
@keyframes slide-image {
  from { height: 0; margin-bottom: 18em }
  to { height: 18em; margin-bottom: 0em }
}
@keyframes text-appear {
  from { color: transparent }
  to { color: var(--blue) }
}



/* Main Structure */

:root {
  --black: black;
  --blue: #14213d;
  --dark-gray: #6f7a89;
  --half-gray: #cacfd1;
  --green: #1ee494;
  --gray: #e2e4e8;
  --light-gray: #f6f6f6;
  --white: white;
}

html {
  background: var(--white);
  color: var(--dark-gray);
  display: flex;
  font: 16pt Rosario;
  justify-content: center;
}

body {
  background:
    url(img/print/bleed-top-left.svg) top left / 45px,
    url(img/print/bleed-top-right.svg) top right / 45px;
  background-repeat: no-repeat;
  line-height: 1.2;
  margin: 1em;
  max-width: 95%;
  position: relative;
  width: 60em;
}

aside {
  animation: blinking 2s steps(45, end) 0.5s both;
  color: var(--green);
  font: 15px Mononoki;
  height: 20px;
  left: 50%;
  line-height: 20px;
  position: absolute;
  transform: translate(-11em);
  top: 15px;
  vertical-align: middle;
  word-break: break-all;
  z-index: -1;
}

aside::after {
  animation: 0.75s steps(2, jump-none) infinite alternate appear;
  content: "▮";
  font-size: 1.5em;
  position: absolute;
  right: -0.5em;
  top: -0.05em;
}

aside::before {
  background-color: var(--blue);
  content: "";
  height: 50em;
  top: 20px;
  position: absolute;
  width: 22em;
}

section {
  padding: 1em 5em 3em;
}

footer {
  background:
    url(img/logotype-black.svg) 15% 30% / 15%,
    url(img/print/bleed-bottom-left.svg) bottom left / 45px,
    url(img/print/bleed-bottom-right.svg) bottom right / 45px,
    var(--gray);
  background-repeat: no-repeat;
  font-size: 0.8em;
  padding: 1em;
}



/* Main Borders */

body::before,
body::after {
  animation: vertical-border 1s ease-in-out 2s both;
  border-left: 1px solid var(--green);
  content: "";
  position: absolute;
  top: 0;
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}

nav::before,
footer::after {
  border-top: 1px solid var(--green);
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

nav::before {
  animation: horizontal-border 1s ease-out 1s both;
  top: 0;
}

footer::after {
  animation: horizontal-border 1s ease-in 2s both;
  bottom: 0;
}



/* Common Tags */

a {
  background-image: linear-gradient(
    90deg,
    var(--gray) 50%,
    var(--green) 50%);
  background-position: 0 50%;
  background-size: 200% 100%;
  color: inherit;
  margin: 0 -0.1em;
  padding: 0 0.2em;
  text-decoration: inherit;
  transition:
    background-position 0.2s ease-out 0.05s,
    color 0.2s ease-in-out 0.1s;
}

a:is(:hover, :focus) {
  background-position: -100% 0;
  color: var(--blue);
}



/* Titles */

h1 {
  background: url(img/logotype-white.gif) top center/contain no-repeat;
  color: transparent;
  font-size: 0;
  height: 3rem;
  margin: 3.5rem 2rem 0;
}

h2 {
  border-left: 1px solid var(--green);
  color: var(--black);
  font-size: 2.2em;
  font-style: italic;
  font-weight: normal;
  margin: -1em 0 0.5em;
  padding: 1.5em 0 0 0.5em;
}

h3 {
  color: var(--black);
  font-size: 1.5em;
  font-weight: normal;
}



/* Specific Classes */

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.buttons li {
  display: block;
  font-size: 0.8em;
  padding-right: 1em;
}

.buttons a {
  background: none;
  border: 1px solid;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0;
  padding: 1em;
  transition-property: border-color, color;
  transition-duration: 0.5s;
}

.buttons a::before {
  background-clip: content-box;
  border: 1px solid;
  border-radius: 1em;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 0.6em;
  margin-right: 0.5em;
  padding: 2px;
  transition:
    background-color 0.3s,
    border-bottom-color 0.15s,
    border-left-color 0.15s 0.15s,
    border-right-color 0.15s 0.45s,
    border-top-color 0.15s 0.3s,
    transform 0.6s;
  transition-timing-function: ease;
  vertical-align: 0.09em;
  width: 0.6em;
}

.buttons a:is(:hover, :focus) {
  border-color: var(--green);
  color: var(--green);
}

.buttons a:is(:hover, :focus)::before {
  border-color: var(--green);
  background-color: var(--green);
  transform: rotate(360deg);
}



/* Nav */

nav ul {
  align-items: center;
  animation: 1s ease-in-out 1s both appear;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin: -0.25em;
  padding: 50px;
}

nav li {
  display: inline-block;
}

nav a {
  background-image: linear-gradient(
    90deg,
    var(--blue) 50%,
    var(--green) 50%);
  color: inherit;
  display: block;
  margin-right: 1em;
  text-decoration: inherit;
}

nav #sponsor {
  margin-left: auto;
  text-align: center;
}

nav #sponsor a {
  border: 1px solid;
  border-radius: 0.5em;
  margin: 0;
  padding: 1em;
  transition: background-color 0.5s, color 0.5s;
}

nav #sponsor a:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--blue);
}



/* Factory */

#factory {
  color: var(--white);
  position: relative;
  text-align: center;
}

#factory::before {
  animation: slide-background 0.5s ease-in-out both;
  background: var(--blue);
  bottom: 0;
  content: "";
  height: 500%;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 100vw;
  z-index: -2;
}

#factory h2 {
  border: none;
  color: inherit;
  margin: 0;
  padding: 2em 0 0;
}

#factory #data-sample {
  animation: 1s ease-in-out 1.75s both appear;
  background: var(--white);
  border-radius: 0.5em;
  color: var(--black);
  font: 0.8em Mononoki;
  left: 50%;
  margin: 2em 0;
  overflow: hidden;
  position: absolute;
  text-align: left;
  transform: translate(-50%);
  width: 18em;
  z-index: 1;
}

#factory #data-sample::before {
  content: "↓";
  font-size: 1.4em;
  position: absolute;
  right: 0.75em;
  top: 0.65em;
  transition: opacity 0.5s;
  visibility: hidden;
}

#factory #data-sample:hover::before {
  opacity: 0;
}

#factory #data-sample input {
  appearance: none;
}

#factory #data-sample input::before {
  content: " ";
  display: inline-block;
  width: 1em;
}

#factory #data-sample input:checked::before {
  content: "-";
  visibility: hidden;
}

#factory #data-sample label {
  display: block;
  height: 1.2em;
  overflow: hidden;
  padding: 1.2em;
  transition-duration: 0.3s;
  transition-property: padding-bottom, padding-top, height;
}

#factory #data-sample label:not(:has(:checked)) {
  height: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#factory #data-sample:hover label {
  height: 1.2em;
  padding: 1.2em;
  transition-delay: 0.25s;
}

#factory #data-sample:has(label) label:is(:hover, :focus) {
  background: var(--gray);
}

#factory #print {
  animation:
    0.5s ease-out 1.5s both text-appear,
    1.5s cubic-bezier(0.5, 0.1, 0, 1) 1.5s both slide-gradient;
  background-image: linear-gradient(
    90deg,
    var(--gray) 34%,
    var(--green) 34%,
    var(--green) 66%,
    transparent 66%);
  background-size: 300% 100%;
  bottom: 10em;
  color: transparent;
  left: 2em;
  line-height: 1;
  padding: 2em;
  position: absolute;
  text-align: left;
  text-align-last: justify;
  visibility: hidden;
  width: 10em;
}

#factory #print::before {
  animation: 1s ease-in-out 1.5s both appear;
  background: var(--white);
  border-radius: 5em;
  box-shadow: 0 0.2em 0.5em -0.2em var(--dark-gray);
  content: "";
  height: 2.5em;
  left: 35%;
  margin: -0.75em 0;
  position: absolute;
  transition: transform 0.15s ease-in-out;
  width: 30%;
}

#factory #print::after {
  animation: 1s ease-in-out 1.5s both appear;
  background-color: var(--green);
  border-radius: 5em;
  content: "";
  height: 1.8em;
  width: 1.8em;
  margin: -0.4em 0.4em;
  position: absolute;
  transition:
    transform 0.15s ease-in-out,
    left 0.3s ease-out,
    background-color 0.3s ease-out,
    height 0.3s ease-in,
    width 0.2s ease-in-out,
    margin-top 0.3s ease-in;
}

#factory #print:has(input:not(:checked))::after {
  left: 35%;
}

#factory #print:has(input:checked)::after {
  background-color: var(--blue);
  height: 2.2em;
  left: calc(65% - (2.2em + 2 * 0.4em));
  margin-top: -0.6em;
  width: 2.2em;
}

#factory #print:hover::before,
#factory #print:hover::after {
  transform: scale(1.1);
}

#factory #print input {
  appearance: none;
  cursor: pointer;
  height: 4em;
  left: 35%;
  margin: -1.2em 0 0;
  position: absolute;
  width: 30%;
  z-index: 1;
}

/* Show elements in browsers supporting :has */
#factory:has(p) #data-sample::before,
#factory:has(p) #data-sample input:checked::before,
#factory:has(p) #print {
  visibility: visible;
}
#factory:has(p) #data-sample label {
  cursor: pointer;
}

#factory dl {
  animation: slide-image 1s ease-in-out 1s both;
  background: var(--half-gray);
  height: 0;
  margin: 4em 0 18em 0;
  overflow: hidden;
}

#factory dt {
  display: none;
}

#factory dd {
  margin: 0;
}

#factory img {
  animation: slide-image 0.5s ease-in-out 1.5s both;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

#factory #data-sample:has([value=reports]:not(:checked)) ~ dl [data-sample=reports],
#factory #data-sample:has([value=invoices]:not(:checked)) ~ dl [data-sample=invoices],
#factory #data-sample:has([value=tickets]:not(:checked)) ~ dl [data-sample=tickets] {
  display: none;
}

#factory #print:has(input:checked) ~ dl .html,
#factory #print:has(input:not(:checked)) ~ dl .thumbnail {
  display: none
}

#factory form:has(input:is(:focus, :hover)) ~ dl img {
  animation-delay: 0s;
  animation-duration: 0.2s;
}



/* Figures */

#figures h2 {
  display: none;
}

#figures ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

#figures li {
  background: var(--blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: center;
  padding: 0 2em;
  text-align: center;
  width: 6em;
}

#figures li:first-child {
  background: var(--green);
  color: var(--black);
}

#figures li:nth-child(even) {
  background: var(--gray);
  color: var(--black);
}

#figures span {
  display: block;
  font-size: 2.5em;
  margin: -0.5em -0.5em 0 -0.5em;
  line-height: 1.2;
  vertical-align: top;
}



/* Samples */

#samples article:first-of-type h3 {
  margin-top: 0;
}

#samples img {
  aspect-ratio: 1.5;
  float: left;
  margin-right: 1em;
  object-fit: cover;
  width: 30%;
}

#samples article {
  clear: left;
  overflow: auto;
}

#samples .buttons {
  justify-content: flex-start;
}



/* Support */

#support {
  background: var(--light-gray);
  padding: 1em 8em;
}

#support li {
  list-style: '— ';
}



/* Sponsors */

#sponsors .sponsors {
  align-items: center;
  color: transparent;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  justify-content: center;
  margin: 0;
  padding: 2em 0 1em;
}

#sponsors .sponsors li {
  display: inline-block;
  padding: 1rem;
}

#sponsors .gold img {
  max-height: 150px;
  max-width: 450px;
}

#sponsors .silver img {
  max-height: 100px;
  max-width: 300px;
}

#sponsors .bronze img {
  max-height: 50px;
  max-width: 150px;
}

#sponsors .user {
  margin: auto;
  max-width: 700px;
}

#sponsors .user img {
  filter: grayscale(100%);
  max-height: 40px;
  max-width: 120px;
  opacity: 0.6;
  transition: filter 0.5s;
}

#sponsors .user img:hover {
  filter: grayscale(10%);
}



/* About */

#about {
  background: var(--light-gray);
  padding: 1em 8em;
}

#about h2 {
  display: none;
}



/* Footer */

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  list-style: '';
  padding: 0.3em;
}

footer li li {
  list-style: '— ';
  margin-left: 2em;
}

footer a {
  background-image: linear-gradient(
    90deg,
    var(--gray) 50%,
    var(--half-gray) 50%);
}

footer #toc {
  columns: 2;
  margin: 3em 0 3em 40%;
}

footer #links {
  display: flex;
  justify-content: center;
}

footer #links a {
  margin: 0 0.5em;
}

footer #links a::before {
  display: inline-block;
  height: 1.2em;
  margin-right: 0.5em;
  vertical-align: bottom;
  width: 1.2em;
}

footer #links #matrix::before {
  content: url(img/about/picto-matrix.svg);
}

footer #links #github::before {
  content: url(img/about/picto-github.svg);
}

footer #links #mail::before {
  content: url(img/about/picto-mail.svg);
}

footer #links #twitter::before {
  content: url(img/about/picto-twitter.svg);
}

footer #links #website::before {
  content: url(img/about/picto-website.svg);
}


/* Responsive */

@media (max-width: 950px) {
  aside {
    display: none;
  }

  nav ul {
    justify-content: center;
  }

  nav li {
    padding: 0.35em 0;
  }

  nav #sponsor {
    margin: auto;
    width: 100%;
  }

  h1 {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  h2 {
    font-size: 1.8em;
  }

  section ul {
    padding-left: 0;
  }

  #factory h2 {
    padding-top: 0.75em;
  }

  #factory #print {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  #figures ul {
    flex-direction: column;
  }

  #samples .buttons {
    clear: left;
    margin: 0.5em 0;
  }

  #samples .buttons li {
    margin-top: 0.5em;
  }

  section {
    padding: 1em 1em 3em;
  }

  #support,
  #about {
    padding-left: 2em;
    padding-right: 2em;
  }

  footer {
    background:
      url(img/logotype-black.svg) 3.75em 2em / auto 2em,
      url(img/print/bleed-bottom-left.svg) bottom left / 45px,
      url(img/print/bleed-bottom-right.svg) bottom right / 45px,
      var(--gray);
    background-repeat: no-repeat;
  }

  footer #toc {
    columns: 1;
    margin: 5em 0 2em 2.5em;
  }

  footer #links {
    flex-direction: column;
    padding: 0 0 2em 2em;
  }
}
