@import "main.css";

@page {
  background:
    url("img/print/bleed-top-left.svg") -10mm -10mm/10mm,
    url("img/print/bleed-top-right.svg") 190mm -10mm/10mm,
    url("img/print/bleed-bottom-left.svg") -10mm 277mm/10mm,
    url("img/print/bleed-bottom-right.svg") 190mm 277mm/10mm;
  background-repeat: no-repeat;
  margin: 10mm;
}

@page:first {
  background-color: #14213d;
}



/* Main Structure */

html {
  font-size: 14pt;
}

nav, footer {
  display: none;
}

aside {
  width: 100%;
}



/* Common Tags */

a {
  background-color: var(--gray);
}

input {
  display: none;
}



/* Titles */

h1 {
  background-image: url(img/logotype-white.svg);
  margin: 8rem 0 5rem;
}



/* Specific Classes */

.buttons {
  display: block;
  margin: 0.5em 0;
}

.buttons li {
  display: inline-block;
}

.buttons a {
  padding: 0.25em 0.25em 0.25em 0.5em;
}



/* Factory */

#factory h2 {
  padding-top: 0;
}

#factory #print {
  display: none;
}

#factory #data-sample {
  text-align: center;
}

#factory #data-sample label {
  display: inline-block;
  padding: 0.5em;
}

#factory dd {
  display: none;
}



/* Figures */

#figures li {
  color: var(--white);
  padding-top: 2em;
  text-align: center;
}



/* Samples */

#samples {
  break-before: always;
}



/* Support */

#support {
  break-before: always;
}



/* Sponsors */

#sponsors {
  break-before: always;
}

#sponsors .gold img {
  max-height: 20mm;
  max-width: 60mm;
}

#sponsors .silver img {
  max-height: 15mm;
  max-width: 40mm;
}

#sponsors .bronze img {
  max-height: 12mm;
  max-width: 26mm;
}

#sponsors .user img {
  max-height: 8mm;
  max-width: 20mm;
}
