@page {
    font-family: Palatino;
    margin: 3cm 2cm;
    padding-left: 1.5cm;
    @top-center {
        content: "Introduction to CSS 2.1";
        vertical-align: bottom;
        border-bottom: thin solid;
        margin-bottom: .7cm;
        font-size: 1.3em;
    }
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
    @left-top {
        content: "W3C Recommendation"; font: .5cm/1.5 sans;
        background: #005a9c; color: #fff; text-align: right;
        padding-right: 2em; height: 1.5em; width: 10cm;
        -weasy-transform-origin: 100% 0;
        -weasy-transform: rotate(-90deg);
    }
}
body { font: 12pt/1.25 Palatino !important; text-align: justify;
       padding: 0 !important; background: none !important; }
hr.navbar { display: none }
h1 { page-break-before: auto !important }
