<!doctype html>
<title>{{ test.test_id }}</title>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}" />
<style>
    iframe {
        border: 2px inset;
        padding: 0;
        width: 640px;
        height: 640px;
        box-sizing: content-box
    }
    .render {
        display: table-cell;
        padding-right: 10px;
    }

    {{ css }}
</style>

<h1>CSS 2.1 Test Suite</h1>
<nav>
{% for text, index in [('←', previous_index), ('→', next_index)] %}
<a{% if index %} href="{{ url_for('run_test',
    chapter_num=chapter_num, section_num=section_num, test_index=index)
    }}"{% endif %}>{{ text }}</a>
{% endfor %}
<a href=..>↑</a>
</nav>
<h2><code>{{ test.test_id }}</code> {{ test.title }}</h2>
{% if test.flags %}<p>Flags: {{ test.flags|join(', ') }}</p>{% endif %}
{% if test.assertion %}<p>Assertion: {{ test.assertion }}</p>{% endif %}

<div class=render>
    <h3>WeasyPrint</h3>
    <iframe src="{{ url_for('render', test_id=test.test_id) }}"
            marginwidth=0 marginheight=0></iframe>
</div>

<div class=render>
    <h3>This browser</h3>
    <iframe src="{{ url_for('test_data', filename=test.test_id + '.htm') }}"></iframe>
</div>

{{ source|safe }}
