<!doctype html>
<title>{{ test.test_id }}</title>
<style>
    iframe {
        border: 2px inset;
        padding: 0;
        width: 660px;
        height: 660px;
        box-sizing: border-box
    }
    .render {
        display: table-cell;
        padding-right: 10px;
    }
    {{ css }}
</style>

<h1>CSS 2.1 Test Suite</h1>
<h2>{{ test.title }}</h2>
{% if test.flags %}<p>Flags: {{ test.flags|join(', ') }}</p>{% endif %}
{% if test.assertion %}<p>Assertion: {{ test.assertion }}</p>{% endif %}


<div class=render>
    <h3>WeasyPrint</h3>
    <iframe src="{{ url_for('render', test_id=test.test_id) }}"></iframe>
</div>

<div class=render>
    <h3>This browser</h3>
    <iframe src="{{ url_for('test_data', filename=test.test_id + '.htm') }}"></iframe>
</div>

{{ source|safe }}
