<!doctype html>
<title>{{ title }}</title>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}" />
<style>
li { margin: 1em }
</style>

<h1>CSS 2.1 Test Suite</h1>
<h2>{{ chapter }}</h2>
<h3><a href="{{ url }}">{{ title }}</a></h3>

<nav>
<a href=..>↑</a>
</nav>

<ul>
{% for test in tests %}
    <li>
        <a href="{{ url_for('run_test', chapter_num=chapter_num,
                            section_num=section_num, test_index=loop.index) }}">
            {{ test.test_id }}</a>
        {% if test.flags %}({{ test.flags|join(', ') }}){% endif %}
        <em>{{ test.title }}</em>
        <br>
        {{ test.assertion }}
{% endfor %}
