/*
  -------------
  - Font Face -
  -------------
*/

@font-face {
  font-family: "headline";
  src: url(headoh.ttf);
}

@font-face {
  font-family: "kimberley";
  src: url(headth.ttf);
}

@font-face {
  font-family: "menu";
  src: url(kenyancoffeerg.otf);
}

@font-face {
  font-family: "txt";
  src: url(Fontin-Sans.otf);
}
@font-face {
  font-family: "txt";
  src: url(Fontin-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "txt";
  src: url(Fontin-Italic.otf);
  font-style: italic;
}


/*
  ---------------
  - HTML / Body -
  ---------------
*/
html {
  color: #2E3436;
  margin: 0;
  padding: 0;
  background: #f4e0be;
}

body{
  background: url(img/logo.png) no-repeat center 50px,
              url(img/top.png) repeat-x 25% top,
              url(img/footer.jpg) repeat-x left bottom,
              url(img/background.png) repeat;
  font-family: "txt";
  line-height:1.3em;
  margin: -2em 0 0 0;
  min-height: 100%;
  padding: 0 0 2em 0;
  position: absolute;
  width: 100%;
}

/*
  ----------
  - Common -
  ----------
*/
h2, h3, h4, h5, h6
{
  font-family: "menu";
  letter-spacing: 0.2em;
}

h2 a, h3 a, h4 a, h5 a, h6 a
{
  font-family: "kimberley";
  letter-spacing: 0.1em;
}

h2{
  background: url(img/rond.png) no-repeat 6px 8px;
  height: 60px;
  margin-top: 35px;
  padding: 15px 0 0 20px;
}

h2:first-letter{
  color: white;
}

h3{
  margin-top: 1.5em;
}

h3 a{
  border-bottom: 3px solid;
  color: #35c6c7 ;
  padding: 5px 0 0 15px;
  text-transform: uppercase;
  width: 100%;
}

h3 a:hover,
h3 a:visited {
  color: #35c6c7 ;
}

h4 a:first-letter,
h4 a:before {
  color: white;
}

h4 a:hover {
  background : url(img/rond-orange.png) no-repeat -1px -3px;
  color: #f47900;
}

h4 {
  border-bottom: 1px solid #f47900;
}

h4 a {
  background : url(img/rond-orange.png) no-repeat -1px -3px;
  color: #f47900;
  font-weight: bold;
  padding: 0 0 0 9px;
}

h4 a:visited{
  color:#f47900;
}

h5 {
  border-bottom: 1px solid #f1d400;
}

h5 a:hover,
h5 a:visited{
  color:black;
}

a{
  color: #870;
  transition: color 0.25s;
}
#features a {
  /* Links are way too dense on this page. Make them less visible */
  color: #650;
}
a:hover,a:focus {
  background: none;
  color: #258089;
}

a:visited {
  background: none;
}

pre{
  background: #2E3436;
  box-shadow: 0px 0px 2px #ddd;
  border-radius: 0.2em;
  color: #EEEEEC;
  padding:1em;
  text-shadow: 1px 1px 1px #111;
  white-space : pre-line;
}

/*
  ----------
  - Header -
  ----------
*/
h1{
  margin-top: -57px;
  visibility: hidden;
}

/*
  --------------
  - Navigation -
  --------------
*/
nav {
  display: block;
  font-family: "menu";
  font-size: 1.3em;
  margin: 80px 0 165px 0;
  text-align: center;
}

nav ul {
  padding-left: 0;
  text-transform: uppercase;
}

nav li {
  display: inline;
  padding: 0.25em 0.5em;
  vertical-align: middle;
}

nav li a {
  background: url(img/rond_03.png) no-repeat 0px -2px;
  color: white;
  display: inline-block;
  font-family: "menu";
  margin-left: 0;
  height: 35px;
  padding: 4px 12px 0 14px;
  text-align: left;
}

nav li a:hover {
  background: url(img/rond_03.png) no-repeat 0px -2px;
  color: white;
}

nav li a[href] {
  background: url(img/rond_03.png) no-repeat 0px -2px;
  color: black;

  transition: background 0.7s ease;
}

nav li a[href]:hover,
nav li a[href]:focus{
  background: url(img/rond_03.png) no-repeat right -2px;
  color: black;
}

nav li a:first-letter{
  color: white;
}

nav li a:hover:first-letter{
  color: white;
}

nav li a[href]:hover:first-letter{
  color: black;
}

/*
  -----------
  - Section -
  -----------
*/
body > section {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.2em;
  box-shadow: 0 0 2px #b7b7b7 ;
  padding: 1px 30px 32px;
  margin: 0 20% 2em;
  line-height:1.3em;
  font-size: 1.2em;
}

.note{
  margin: 20px 0 20px 0;
}

.note p{
  color: red;
}

.contents {
  background: url(img/content_haut.png) no-repeat top left,
              url(img/bas.png) no-repeat bottom right;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid red;
  border-radius: 0.2em;
  padding: 30px 32px 74px 104px;
}

.contents a:visited{
  color: #b7bd00;
}

.contents p{
  color:red;
  font-family: "kimberley";
  padding-left: 13px;
  text-transform: uppercase;
}

/*
  ----------
  - Footer -
  ----------
*/
footer {
  background: black;
  bottom: 0;
  height: 2em;
  left: 0;
  line-height: 2em;
  position: absolute;
  right: 0;
  text-align: center;
}

footer ul {
  color: #babdb6;
  font-size:90%;
  margin: 0;
}

footer li{
  display: inline;
}

footer li a{

  font-variant: small-caps;
  color: white;
  padding:5px;
}

footer li a:hover,
footer li a:focus{
  color: red;
}
