html
  background: white
  display: flex
  justify-content: center

body
  +full-bg($primary)
  background: url('img/print/bleed-top-left.svg') top left / $bleed-space no-repeat, url('img/print/bleed-top-right.svg') top right / $bleed-space no-repeat, url('img/print/bleed-bottom-left.svg') bottom left / $bleed-space no-repeat, url('img/print/bleed-bottom-right.svg') bottom right / $bleed-space no-repeat, transparent
  border: solid 1px $action
  color: $grey
  font-family: 'Rosario', sans
  font-weight: 400
  line-height: 1.3
  margin: $page-margin
  max-width: 100%
  overflow-x: hidden
  padding: $bleed-space $bleed-space 0
  width: $page-max-width

  @media screen and (max-width: $mobile-breakpoint)
    margin: 0

  &::before
    height: $bleed-space + $page-margin + 1px
    top: - $page-margin - 1px

  > aside:nth-of-type(1)
    @extend %font-mononoki
    @extend %font-small
    align-items: center
    display: flex
    box-sizing: border-box
    color: $action
    height: $bleed-space
    justify-content: center
    left: $bleed-space
    padding: 0 2em
    position: absolute
    right: $bleed-space
    text-align: center
    top: 0

  main
    section:nth-of-type(1)
      @extend %font-xl
      +full-bg($primary)
      align-content: center
      align-items: center
      color: $light
      display: flex
      flex-wrap: wrap
      justify-content: center
      min-height: 40vh
      padding: 3em column(1,12)
      text-align: center

      @media screen and (max-width: $mobile-breakpoint)
        padding: 3em 0

      p
        font-size: inherit

    section + section
      h2
        color: $primary
        margin-top: -.5em
        padding: 2em 0 0 .25em
        position: relative

        &::before
          border-left: solid 1px $action
          bottom: .1em
          content: ''
          display: block
          height: 100%
          left: 0
          position: absolute

  h1
    display: none

  h2
    @extend %font-title
    font-style: italic
    font-weight: 400
    line-height: 1

  h3
    @extend %font-xl
    color: $primary
    font-weight: 400
    margin-bottom: 0

  ul
    list-style-type: none

  a
    color: inherit
    text-decoration: none

  p
    @extend %font-large

    a
      +link(rgba($grey, .3), $action)

  pre
    @extend %font-normal
    box-sizing: border-box
    background-color: $light
    margin: 2em 0 4em
    overflow: auto
    padding: 2em
    width: 100%

    code
      @extend %font-mononoki
