@keyframes color-fade-to-primary
  from
    color: transparent

  to
    color: $primary


@keyframes color-fade-to-grey
  from
    color: transparent

  to
    color: $grey


@keyframes color-fade-to-light
  from
    color: transparent

  to
    color: $light


@keyframes switch-fade-in
  from
    background-position-x: 0

  to
    background-position-x: -100%


@keyframes opacity-fade-in
  from
    opacity: 0

  to
    opacity: 1


@keyframes fade-in-from-left
  from
    opacity: 0
    transform: translateY(-2rem)

  to
    opacity: 1
    transform: translateY(0)


@keyframes start-list-fade-in
  0%
    background-position-y: 100%
    color: transparent

  75%
    background-position-y: 0
    color: transparent

  100%
    background-position-y: 0
    color: $light


@keyframes typing
  from
    width: 0

  to
    width: 100%


@keyframes cursor
  from, to
    border-color: transparent

  50%
    border-color: currentColor


// home introduction
@keyframes header-height-fade-in
  from
    min-height: calc(100vh - #{$menu-desktop-height} - #{$page-margin} - #{$bleed-space})

  to
    min-height: 60vh


@keyframes page-border-fade-in
  0%
    border: 1px solid transparent
    height: 0
    width: 0

  33%
    border-color: $action
    border-bottom: transparent
    height: 0
    width: 100%

  66%
    border-color: $action
    border-bottom: transparent
    height: 100%

  100%
    border-color: $action
    height: 100%
    width: 100%
