nav
  +full-bg($primary)
  color: $light

  ul
    align-items: center
    display: flex
    height: 50px
    margin: 0
    padding: 0

    li
      display: inline-block
      font-size: $font-normal
      margin-right: 1em

      &.active
        a
          +link(rgba($grey, .5), rgba($grey, .8))

      a
        +link(transparent, $action)


aside + aside
  display: none
