nav
  ul
    display: flex
    padding: 0

    li
      a
        +link(transparent, $action)

      &.active
        a
          +link(rgba($grey, .5), rgba($grey, .8))

  #menu-close
    @extend %font-mononoki


aside + aside
  align-self: flex-end
  align-items: center
  border: solid 1px $light
  border-radius: .35rem
  color: $light
  display: flex
  font-size: $font-small
  height: $menu-desktop-height
  position: absolute
  // right: $bleed-space + $page-margin
  top: $bleed-space + $page-margin
  transition: border .2s ease

  // @media screen and (min-width: $page-max-width)
    right: $bleed-space + $page-margin

  &:hover
    border-color: #f4900c

    a::before
      margin-top: 0

    progress
      &::-moz-progress-bar
        background-color: #f4900c

      &::-webkit-progress-value
        background-color: #f4900c

  a
    height: $menu-desktop-height
    line-height: $menu-desktop-height
    margin-left: 1em
    overflow: hidden

    &::before
      background: url('img/sun.png') center left / 50% no-repeat
      content: ''
      display: block
      font-size: 2em
      height: $menu-desktop-height
      margin-top: -$menu-desktop-height
      transition: margin-top .25s ease
      width: $menu-desktop-height

    &::after
      bottom: 0
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      z-index: 2

  label
    @extend %font-mononoki
    color: $primary
    font-size: .8em
    position: absolute
    right: 1.5em

  progress
    background-color: rgba($light, .3)
    border: 0
    border-radius: .15rem
    margin: 0 1em
    width: 7em

    &::-webkit-progress-bar
      background-color: rgba($light, .3)
      border-radius: .15rem

    &::-moz-progress-bar
      background-color: $light
      border-radius: .15rem
      transition: background-color .25s ease

    &::-webkit-progress-value
      background-color: $light
      border-radius: .15rem
      transition: background-color .25s ease


@media screen and (min-width: 830px + 1px)
  nav
    color: $light
    position: relative

    ul
      align-items: center
      height: $menu-desktop-height
      margin: 0

      li
        display: inline-block
        font-size: $font-normal
        margin-right: 1em

    #menu-close
      display: none


@media screen and (max-width: 830px)
  nav
    width: 0

    ul
      background-color: $action
      background-clip: content-box
      border-radius: 100%
      bottom: 0
      flex-direction: column
      height: 3em
      justify-content: center
      left: 0
      margin: 1em
      position: fixed
      transition: border-radius .5s ease-in .7s, height .4s ease, margin .4s ease .3s, transform .5s ease-in .7s, width .3s ease .4s
      width: 3em
      z-index: 10

      &::before
        content: url('img/menu-picto.svg')
        transition: opacity .2s ease 1.2s, height .2s ease 1.2s, width .2s ease 1.2s

      li
        font-size: 0
        margin: .5em .5em .5em 2em
        width: 100%

        a
          color: $primary
          font-size: inherit

    // menu open state
    ul:hover
      border-radius: 0
      height: 100%
      margin: 0
      transform: rotate(360deg)
      transition: border-radius .5s ease, height .4s ease .8s, margin .4s ease .5s, transform .5s ease, width .3s ease .5s
      width: 100%

      &::before
        opacity: 0
        height: 0
        transition: opacity .2s ease, height .2s ease .2s, width .2s ease .2s
        width: 0

      li
        font-size: $font-large
        transition: font-size .1s ease 1s

        @for $i from 1 through 6
          &:nth-of-type(#{$i})
            animation: .25s fade-in-from-left both
            animation-delay: $i * 75ms + 1s

    &:hover ~ main
      &::before, &::after
        opacity: 1
        right: 0
        transition: opacity .2s ease 1.2s, right .2s ease 1.2s

  main
    &::before, &::after
      opacity: 0
      right: -3rem
      position: fixed
      transition: opacity .2s ease, right .2s ease
      z-index: 15

    &::before
      content: '×'
      font-family: 'Rosario', sans
      font-size: $font-xl * .8
      line-height: 0
      padding: 0 1rem
      top: 1rem

    &::after
      content: 'close'
      font-size: $font-small * .8
      padding: .5rem 2rem 1rem .5rem
      transform: rotate(-90deg)
      transform-origin: bottom right
      bottom: 100%

  aside + aside
    right: 50%
    transform: translate(50%, 1em)
