// functions
@function column($c-number, $c-total)
  @return $c-number / $c-total * 100%


// extends
%font-small
  @media screen and (min-width: $mobile-breakpoint + 1px)
    font-size: $font-small

  @media screen and (max-width: $mobile-breakpoint)
    font-size: $font-small * .8

%font-normal
  @media screen and (min-width: $mobile-breakpoint + 1px)
    font-size: $font-normal

  @media screen and (max-width: $mobile-breakpoint)
    font-size: $font-normal * .8

%font-large
  @media screen and (min-width: $mobile-breakpoint + 1px)
    font-size: $font-large

  @media screen and (max-width: $mobile-breakpoint)
    font-size: $font-large * .8

%font-xl
  @media screen and (min-width: $mobile-breakpoint + 1px)
    font-size: $font-xl

  @media screen and (max-width: $mobile-breakpoint)
    font-size: $font-xl * .8

%font-title
  @media screen and (min-width: $mobile-breakpoint + 1px)
    font-size: $font-title

  @media screen and (max-width: $mobile-breakpoint)
    font-size: $font-title * .8


%link
  background-size: 201% 100%
  background-position: 0 50%
  padding: 0 .3em
  transition: background-position .2s ease-out, color .2s ease-in-out
  transition-delay: .05s, .1s

  &:hover
    background-position: -100% 0
    color: $primary

=link($normal-color, $hover-color)
  @extend %link
  background-image: linear-gradient(90deg, $normal-color 0%, $normal-color 50%, $hover-color 50%, $hover-color 100%)


%full-bg
  position: relative

  &::before
    content: ''
    left: 50%
    height: 100%
    position: absolute
    top: 0
    transform: translateX(-50%)
    width: 100vw
    z-index: -1

=full-bg($bg-color)
  @extend %full-bg

  &::before
    background-color: $bg-color


%list-item
  margin-left: -1.25em
  padding-left: 0

  li
    border: solid 1px $light-grey
    border-radius: .35rem
    font-size: $font-large
    margin-bottom: .5em
    padding: 1em 1em 1em 2em
    position: relative
    transition: border-color .3s ease-in-out, color .3s ease-in-out

    @media screen and (max-width: $mobile-breakpoint)
      font-size: $font-large * .8

    &::before
      background-clip: content-box
      border: solid 1px
      border-radius: 100%
      box-sizing: border-box
      content: ''
      height: 10px
      left: .75em
      margin-top: -5px
      padding: 2px
      position: absolute
      top: 50%
      transition: background-color .3s ease, border-bottom-color .15s ease, border-left-color .15s ease .15s, border-right-color .15s ease .45s, border-top-color .15s ease .3s, transform .6s ease
      width: 10px

=list-style($color, $color-hover, $border-color, $border-color-hover, $bg-color-hover)
  @extend %list-item

  li
    color: $color

    &::before
      border-color: $border-color

    &:hover
      border-color: $border-color-hover
      color: $border-color-hover

      &::before
        background-color: $bg-color-hover
        border-color: $border-color-hover
        transform: rotate(360deg)


%font-mononoki
  font-family: 'mononokiRegular', monospace
  font-weight: 400
  letter-spacing: -.05em


%header-font-large
  section:nth-of-type(1)
    p
      font-size: $font-large

      @media screen and (max-width: $mobile-breakpoint)
        font-size: $font-large * .8


%full-link
  position: relative

  a::before
    content: ''
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
