#about
  @extend %header-font-large

  &::after
    content: url('img/logotype-picto.svg')
    display: block
    margin: 8em auto 0
    width: 70px

  ul
    +list-style($action, link-list-item)
    margin: 0

    li
      @extend %full-link
      color: $light
      display: inline-block
      margin: .5em 0
      text-align: left
      transition: color .3s

      &:hover
        color: $action


@media screen and (min-width: $mobile-breakpoint + 1px)
  #about
    ul
      li
        margin: .5em
