main.index
  @extend %header-font-large

  section:nth-of-type(1)
    align-content: flex-start
    margin-bottom: 185px
    padding-bottom: 0

    h2
      margin-bottom: 0
      width: 100%

      &::before
        background: url('img/logotype-white.gif') top center / contain no-repeat
        content: url('img/fake-logo.svg')
        display: block
        margin: 0 auto 2em
        max-width: 100%
        min-width: 15rem
        width: column(4,12)

    p
      strong
        @extend %font-mononoki
        color: $action
        margin: auto .25em

    ul
      @extend %font-normal
      @extend %font-mononoki
      background-color: $light
      border-radius: .35rem
      color: $primary
      display: flex
      margin-bottom: 0
      padding: 0
      position: relative
      z-index: 1

      @media screen and (min-width: $mobile-breakpoint + 1px)
        transform: translateY(50%)

      &::after
        align-items: center
        background-color: $light-grey
        border-bottom-right-radius: .35rem
        border-top-right-radius: .35rem
        content: url('img/arrow-bottom.svg')
        display: flex
        margin-left: 1em
        padding: 1.25em
        width: 1em

      li
        margin: 1.25em

        & + li
          display: none

    input, label
      bottom: 0
      height: 6rem
      left: 0
      position: absolute

      @media screen and (max-width: $mobile-breakpoint)
        transform: translateX(-$page-margin)

    input
      border: 0
      cursor: pointer
      margin: 0
      opacity: 0
      width: 17rem
      z-index: 5

      &:not(:checked)
        ~ dl dt
          display: block

      &:checked
        ~ dl
          dt
            background-position: 90% 0
            opacity: 0

          dd
            img
              opacity: 1
              top: 50%

        ~ label
          &:nth-of-type(1)
            color: $grey !important

            &::after
              background-color: $primary
              left: 8.5rem
              padding: .25rem
              right: 5rem
              transition: background-color .25s ease, left .25s ease .05s, padding .25s ease, right .25s ease, transform .2s ease

          &:nth-of-type(2)
            color: $primary !important


      &:hover ~ label
        &:nth-of-type(1)
          &::before, &::after
            transform: scale(1.1)

          &::before
            box-shadow: 0 5px 5px 0 rgba($grey, .3)

    label
      align-items: center
      box-shadow: 0 0 0 0 $light-grey
      box-sizing: border-box
      display: flex
      font-size: $font-normal
      padding: 1rem
      transition: box-shadow .2s ease, opacity .2s ease

      &:nth-of-type(1)
        @extend %font-mononoki
        animation: switch-fade-in 1s ease 1s both, color-fade-to-primary .25s ease 2.25s both
        background-image: linear-gradient(90deg, transparent 0%, transparent 33.33%, $light-grey 33.33%, $light-grey 66.66%, $action  66.66%, $action 100%)
        background-size: 300% 100%
        background-position-x: 0
        color: $primary
        justify-content: flex-end
        padding-right: 12rem
        width: 17rem
        z-index: 1

        &::before, &::after
          animation: opacity-fade-in 1s ease 1.6s both
          border-radius: 3.5rem
          content: ''
          height: 3.5rem
          left: 6rem
          position: absolute
          top: 1.25rem

        &::before
          animation: opacity-fade-in .25s ease-in-out 1.85s both
          background-color: $light
          box-shadow: 0 5px 5px 0 rgba($grey, .1)
          transition: box-shadow .2s, transform .2s ease
          width: 6rem

        &::after
          animation: opacity-fade-in .25s ease-in-out 2s both
          background-clip: content-box
          background-color: $action
          box-sizing: border-box
          padding: .5rem
          right: 7.5rem
          transition: background-color .25s ease, left .25s ease, padding .25s ease, right .25s ease .05s, transform .2s ease
          z-index: 1

      &:nth-of-type(2)
        animation: color-fade-to-grey .25s ease 2.25s both
        color: $grey
        font-style: italic
        justify-content: flex-start
        left: 12rem
        width: 5rem
        z-index: 2

    dl
      background-image: linear-gradient(transparent 0%, transparent 33.33%, $light-grey 33.33%, $light-grey 66.66%, transparent 66.66%, transparent 100%)
      background-size: 100% 300%
      background-position-x: 0
      overflow: hidden
      position: relative
      width: 100%

      @media screen and (min-width: $mobile-breakpoint + 1px)
        height: 370px
        margin: 0 0 -185px

      @media screen and (max-width: $mobile-breakpoint)
        height: 300px
        margin: 1em (-$bleed-space) -185px
        width: calc(100% + #{$bleed-space} * 2)

      *
        z-index: -1

      dt
        background: url('img/documents/html.jpg') center / cover no-repeat
        color: transparent
        font-size: 0
        height: 100%
        left: 0
        opacity: 1
        position: absolute
        top: 0
        transition: background-position .5s ease, opacity .5s ease
        width: 100%

      img
        left: 50%
        opacity: 0
        position: absolute
        top: 0
        transform: translate(-50%, -50%)
        transition: opacity .5s ease, top .5s ease

        @media screen and (min-width: $mobile-breakpoint + 1px)
          max-width: 100%

  section:nth-of-type(2)
    display: inline-block
    padding: 2em 0
    vertical-align: top
    width: 100%

    @media screen and (min-width: $mobile-breakpoint + 1px)
      padding: 2em column(1,12)
      width: column(5,12)

    p
      @extend %font-xl
      color: $primary

  section:nth-of-type(3)
    display: inline-block

    @media screen and (min-width: $mobile-breakpoint + 1px)
      width: column(4,12)

    h2
      padding-top: 3em

    ul
      +list-style($primary, $action, $light-grey, $action, $action)

      li
        @extend %full-link

    p
      @extend %font-small
      text-align: right

  section:nth-of-type(4)
    +full-bg($light)
    margin-top: 6em
    padding: 1px column(2,12) 3em
    // 1px is for avoid margin-collapsing with h2

    @media screen and (max-width: $mobile-breakpoint)
      padding: 1px 0 3em

    h2
      margin-bottom: 0

    h3
      margin: 1.5em 0 .75em

  section:nth-of-type(5)
    padding: 0 column(1,12)


// home introduction
#main:not(.onAfter):not(.onStart)
  &::before, &::after
    animation: vertical-page-border-fade-in 1.5s ease both 2s

  nav.index
    ul
      li
        animation: color-fade-to-light .5s ease both

        @for $i from 1 through 6
          &:nth-of-type(#{$i})
            animation-delay: $i * 75ms + 2.5s

  > aside.index
    &:nth-of-type(1)
      animation: color-fade-to-action .5s ease both 4.5s

      a
        animation-delay: 4.5s, 6.5s

    &:nth-of-type(2)
      animation: color-fade-to-light .5s ease both 2.5s

      progress
        animation: opacity-fade-in .75s ease both 2.5s

  main
    &::before, &::after
      animation: horizontal-page-border-fade-in 1s ease both 1s

  main.index
    section:nth-of-type(1)
      animation: header-height-fade-in .5s ease-in both 3s

      h2
        animation: color-fade-to-light .5s ease both 3s

        &::before
          animation: opacity-fade-in .75s ease both .25s

      p
        animation: color-fade-to-light .5s ease both 3s

        strong
          animation: color-fade-to-action .5s ease both 3s

      ul, dt
        animation: opacity-fade-in .5s ease both 3.2s

      dl
        animation: start-list-fade-in 1s ease both 3s

      label
        animation-delay: 4.5s

        &:nth-of-type(1)
          &::before, &::after
            animation-delay: 5s
