#index
  @extend %header-font-large

  section:nth-of-type(1)
    margin-bottom: 185px
    padding-bottom: 0

    h2
      margin-bottom: 0
      width: 100%

      &::before
        content: url('img/logotype-white.svg')
        display: block
        margin: 0 auto 2em
        min-width: 10rem
        width: column(4,12)

    p
      strong
        @extend %font-mononoki
        color: $action
        margin: auto .25em

    ul
      @extend %font-normal
      @extend %font-mononoki
      background-color: $light
      border-radius: .35rem
      color: $primary
      display: flex
      margin-bottom: 0
      padding: 0
      transform: translateY(50%)

      &::after
        align-items: center
        background-color: $light-grey
        border-bottom-right-radius: .35rem
        border-top-right-radius: .35rem
        content: url('img/arrow-bottom.svg')
        display: flex
        margin-left: 1em
        padding: 1.25em
        width: 1em

      li
        margin: 1.25em

        & + li
          display: none

    div
      +full-bg(black)
      height: 370px
      margin-bottom: -185px
      width: 100%

      &::before
        max-width: calc(120% + #{$bleed-space} * 2 + 2px)

        @media screen and (min-width: $mobile-breakpoint + 1px)
          width: $page-max-width + $bleed-space * 2

  section:nth-of-type(2)
    display: inline-block
    padding: 2em 0
    vertical-align: top
    width: 100%

    @media screen and (min-width: $mobile-breakpoint + 1px)
      padding: 2em column(1,12)
      width: column(5,12)

    p
      @extend %font-xl
      color: $primary

  section:nth-of-type(3)
    display: inline-block

    @media screen and (min-width: $mobile-breakpoint + 1px)
      width: column(4,12)

    h2
      padding-top: 3em

    ul
      +list-style($action, link-list-item)

      li
        @extend %full-link

    p
      @extend %font-small
      text-align: right

  section:nth-of-type(4)
    +full-bg($light)
    margin-top: 6em
    padding: 1px column(2,12) 3em
    // 1px is for avoid margin-collapsing with h2

    @media screen and (max-width: $mobile-breakpoint)
      padding: 1px 0 3em

    h2
      margin-bottom: 0

    h3
      margin: 1.5em 0 .75em

  section:nth-of-type(5)
    padding: 0 column(1,12)
