#start
  @extend %header-font-large

  section:nth-of-type(1)
    p
      margin: 2em column(2,12)

      @media screen and (max-width: $mobile-breakpoint)
        margin: 1em column(1,12)

    ul
      @extend %font-xl
      align-items: stretch
      display: flex
      flex-wrap: wrap
      margin-top: 3em
      padding-left: 0

      &::after
        content: ''
        flex: 1 10em

      li
        align-content: center
        align-items: center
        border: solid 1px $grey
        box-sizing: border-box
        display: flex
        flex: 1 10em
        flex-wrap: wrap
        justify-content: center
        min-width: 50%
        transition: border-color .2s
        padding: 1.5em 2em
        position: relative
        vertical-align: center

        @for $i from 1 through 6
          &:nth-of-type(#{$i})
            &::before
              animation-delay: $i * 50ms + 1s

        &:hover
          border-color: $light

        &::before
          animation: start-list-fade-in 1s ease both
          background-image: linear-gradient(transparent 0%, transparent 33.33%, $light 33.33%, $light 66.66%, $primary 66.66%, $primary 100%)
          background-position-y: 100%
          background-size: 100% 300%
          content: ''
          height: 100%
          left: 0
          position: absolute
          width: 100%

        a
          +link(rgba($grey, .3), $action)
          background-clip: padding-box
          border-left: solid .35em transparent
          border-right: solid .35em transparent

  section:nth-of-type(2)
    margin-top: 5em
    padding: 0 column(2,12)

    @media screen and (max-width: $mobile-breakpoint)
      padding: 0
