.wf-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.wf-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.wf-text {
    position: relative!important;

    width: 200px;
    height: 25px;
    border: solid rgba(0, 0, 0, 0.8) 1px;
    border-radius: 3px;
}

.wf-textarea {
    position: relative!important;

    width: 500px;
    height: 300px;
    border: solid rgba(0, 0, 0, 0.8) 1px;
    border-radius: 3px;
}
