<!doctype html>
<meta charset=utf-8>
<title>FireWeasy</title>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">


<article id=canvas></article>
<iframe id=error_frame></iframe>

<script src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='coffee-script.js') }}"></script>
<script src="{{ url_for('static', filename='draw.coffee') }}"
        type="text/coffeescript"></script>
<script type="text/coffeescript">
jQuery.ajax(
    url: '/sample.json',
    dataType: 'json',
    success: (data) ->
        FireWeasy.draw(data, $('#canvas'))
    error: (xhr) ->
        if xhr.status == 500
            $('#error_frame').show()[0].src = '/sample.json'
)
</script>
