nav {
    font-size: 1.5em;
    margin: 0;
    position: fixed;
    top: 1em;
    right: 1em;
}
nav a {
    text-decoration: none;
    margin-left: 1em;
    color: inherit;
}
nav a:not([href]) {
    opacity: .2;
}
