<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/css/img/logotype-picto.svg" type="image/svg" rel="shortcut icon">
<link href="/css/main.css" rel="stylesheet">
<link href="/css/print.css" rel="stylesheet" media="print">
<link href="/feed.xml" type="application/rss+xml" rel="alternate" title="RSS feed">

<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">

<div id="main">
  <nav onclick="/* iOS hack */" class="{{ page.id }}">
    <ul>
      <li {% if page.id == 'index' %}class="active"{% endif %}><a href="/">WeasyPrint</a></h1>
      <li {% if page.id == 'news' %}class="active"{% endif %}><a href="/news/">News</a>
      <li {% if page.id == 'about' %}class="active"{% endif %}><a href="/about/">About</a>
      <li {% if page.id == 'start' %}class="active"{% endif %}><a href="/start/">Documentation</a>
      <li {% if page.id == 'samples' %}class="active"{% endif %}><a href="/samples/">Samples</a>
      <li {% if page.id == 'donate' %}class="active"{% endif %}><a href="/donate/">Why Donate?</a>
    </ul>
  </nav>

  <aside class="{{ page.id }}">
    {% assign releases = site.github.releases | where:"draft",false | sort:"created_at" | reverse %}
    <a href="https://github.com/Kozea/{{ site.title }}/blob/master/NEWS.rst">{{ site.title }} {{ releases[0].tag_name }} (Latest version)</a>
  </aside>

  <aside class="{{ page.id }}">
    <a href="https://opencollective.com/courtbouillon">
      Donate
    </a>
    <label for="total">$30</label>
    <progress title="€120" name="total" value="120" max="200">
  </aside>

  {{ content }}

  <footer class="{{ page.id }}">
    <ul>
      <li {% if page.id == 'index' %}class="active"{% endif %}><a href="/">WeasyPrint</a></h1>
      <li>
        <ul>
          <li><a href="/#factory">The Awesome Document Factory</a></li>
          <li><a href="/#news">News</a></li>
          <li><a href="/#involved">Get Involved</a></li>
        </ul>
      </li>
      <li {% if page.id == 'news' %}class="active"{% endif %}><a href="/news/">News</a>
      <li {% if page.id == 'about' %}class="active"{% endif %}><a href="/about/">About</a>
      <li {% if page.id == 'start' %}class="active"{% endif %}><a href="/start/">Documentation</a>
      <li {% if page.id == 'samples' %}class="active"{% endif %}><a href="/samples/">Samples</a>
      <li {% if page.id == 'donate' %}class="active"{% endif %}><a href="/donate/">Why Donate?</a>
    </ul>
    <ul>
      <li><a id="website" href="https://courtbouillon.org">CourtBouillon</a></li>
      <li><a id="mail" href="mailto:contact@courtbouillon.org">contact@courtbouillon.org</a></li>
      <li><a id="freenode" href="https://gitter.im/CourtBouillon/WeasyPrint">Gitter</a></li>
      <li><a id="twitter" href="https://twitter.com/BouillonCourt">@BouillonCourt</a></li>
      <li><a id="github" href="{{ site.github.repository_url }}">github/kozea/weasyprint</a></li>
    </ul>
  </footer>
</div>

<script type="text/javascript">
  window.onload = function () {
    var samples = document.querySelectorAll("li[data-sample]");
    var images = document.querySelectorAll("dt[data-sample]");
    for (var i = 0; i < samples.length; i++) {
      var sample = samples[i];
      sample.onclick = function () {
        for (var i = 0; i < samples.length; i++) {
          var removed_sample = samples[i];
          removed_sample.classList.remove("active");
        }
        this.classList.add("active");
        for (var i = 0; i < images.length; i++) {
          var removed_image = images[i];
          removed_image.classList.remove("active");
        }
        var attribute = this.getAttribute("data-sample");
        var image = document.querySelectorAll("dt[data-sample='" + attribute + "']")[0];
        image.classList.add("active");
      };
    }
  }
</script>
