<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/css/img/icon.png" type="image/png" rel="shortcut icon">
<link href="/css/main.css" rel="stylesheet">
<link href="/feed.xml" type="application/rss+xml" rel="alternate" title="RSS feed">

<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">

<nav>
  <ul>
    <li><a href="/">WeasyPrint</a></h1>
    <li><a href="/donate/">Why Donate?</a>
    <li><a href="/news/">News</a>
    <li><a href="/about/">About</a>
    <li><a href="/start/">How to Start</a>
    <li><a href="/samples/">Samples</a>
  </ul>
</nav>

<aside>
  <a href="https://www.patreon.com/kozea">
    Become a patron
  </a>
</aside>

{{ content }}

<footer>
  <ul>
    <li><a href="/">WeasyPrint</a></li>
    <ul>
      <li><a href="/#factory">The Awesome Document Factory</a></li>
      <li><a href="/#news">News</a></li>
      <li><a href="/#involved">Get Involved</a></li>
      <li><a href="/#testimonials">Testimonials</a></li>
    </ul>
    <li><a href="/donate/">Why Donate?</a>
    <li><a href="/news/">News</a>
    <li><a href="/about/">About</a>
    <li><a href="/start/">How to Start</a>
    <li><a href="/samples/">Samples</a>
    <li><a href="{{ site.github.repository_url }}">Fork me on GitHub</a></li>
  </ul>
</footer>
